<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
</head>
<body>
<h2>th ahref</h2>
<div>
<ol>
    <li><a href="th-ast.html" th:href="@{/th-ast}">th-ast</a></li>
    <li><a href="th-map.html" th:href="@{/th-map}">th-map</a></li>
    <li><a href="th-text.html" th:href="@{/th-text}">th-text</a></li>
</ol>
<ol>
    <li><a href="members.html" th:href="@{/{param1}(param1=${mem})}">members - 파라미터 넣기</a></li>
    <li><a href="members.html" th:href="@{|/${mem}|}">members - 리터럴 대체 사용 ||</a></li>
</ol>
</div>
</body>
</html>